/* latin */

@font-face {
    font-family: 'TTNormsPro-Black';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url (https://github.com/aarchadeloitte/fonts/blob/main/TTNormsPro-Black.ttf) format('truetype');
    }
