/* latin */

@font-face {
    font-family: 'TTNormsPro-Black';
    src: url ('https://github.com/aarchadeloitte/fonts/raw/main/TTNormsPro-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
