/* latin */

@font-face {
    font-family: 'TTNormsPro-Black';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url (https://my.sozvers.at/sites/S4OEGK/Planungsfuchs/Freigegebene%20Dokumente/01_Austausch/06_SAC%20(SB)/Lx_SAC_Technik/Fonts/TTNormsPro-Black.ttf) format('truetype');
